.users-list {
	list-style: none;
}
.buttons-container {
	max-width: 1400px;
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}
@media screen and (max-width: 600px) {
	.buttons-container {
		display: flex;
		flex-direction: column;
		/* grid-template-columns: repeat(2, 1fr); */
	}
	.buttons-container button {
		margin-bottom: 10px;
		width: 80%;
		margin: 0 auto 10px auto;
	}
}
